body {
    text-align: center;
    #outermost_body {
  text-align: left;
  width: 750px;
  height: 500px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10em;
}
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

